* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: baseline;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input,
button,
h1 {
    display: block;
    width: 320px;
    padding: 8px;
    margin-bottom: 8px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

input:focus,
textarea:focus {
    outline-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.mensagem {
    margin-top: 10px;
    font-weight: bold;
}